JIRA_PROD_EMAIL=you@example.com
JIRA_PROD_TOKEN=replace-me
XRAY_PROD_CLIENT_ID=replace-me
XRAY_PROD_CLIENT_SECRET=replace-me

JIRA_SANDBOX_EMAIL=you@example.com
JIRA_SANDBOX_TOKEN=replace-me
XRAY_SANDBOX_CLIENT_ID=replace-me
XRAY_SANDBOX_CLIENT_SECRET=replace-me
