JIRA_SOURCE_EMAIL=you@example.com
JIRA_SOURCE_TOKEN=replace-me
XRAY_SOURCE_CLIENT_ID=replace-me
XRAY_SOURCE_CLIENT_SECRET=replace-me

JIRA_TARGET_EMAIL=you@example.com
JIRA_TARGET_TOKEN=replace-me
XRAY_TARGET_CLIENT_ID=replace-me
XRAY_TARGET_CLIENT_SECRET=replace-me
